/* Reset básico */

body, h1, h2, h5, p {
    margin: 0;
    padding: 0;
    font-family:'Calibri';
}

/* Barra preta no topo */
.top-bar {
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

.top-bar img {
    height: 30px; 
}

.navbar-brand img {
    height: 120px; 
    position: absolute;
    top: -20px; 
    left: 100px; 
    z-index: 20;
}

.navbar {
    background-color: #4B0082; 
    padding: 20px 0;
    position: relative; 
    z-index: 5;
}

/* Ajuste do campo de pesquisa */
.search-bar {
    margin-left: 20px;
    background-color: #4B0082; 
}

.search-bar input {
    width: 200px;
    border-radius: 20px;
    padding: 5px 10px;
    color: white; 
    border: 2px solid #4B0082; 
}

.search-bar button {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #4B0082;
    color: white; 
    border: none; 
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
}
.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
}
.hero p {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-65%, -50%);
    font-size: 30px;
}

/* Cards de Notícias */
.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
}

.col-md-3 {
    background: #f4f4f4;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
}

.col-md-3 img {
    width: 100%;
    border-radius: 8px;
} 

/* Rodapé */
footer {
    background: #18171a;
    padding: 20px 0;
    color: white;
    font-size: 14px;
}

/* Estilos para a nova seção */
.stadium-info {
    background-color: #4B0082;
    padding: 40px 0;
    color: yellow;
    text-align: center;
}

.stadium-info .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.stadium-info .col-md-4 {
    flex: 1 1 30%;
    max-width: 30%;
}

.info-box {
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.info-box h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

/* Estilos para a nova seção */
.additional-content {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}

.additional-content .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-content .col-md-6 {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.additional-content p {
    margin-bottom: 50px;
}

.additional-content button {
    background-color: #4B0082;
    color: white;
    border: none;
    padding: 10px 100px;
    margin-right: 10px;
}

.additional-content button:last-child {
    background-color: yellow;
    color: black;
}

/* Estilos para a seção de posts populares */
.popular-posts {
    background-color: #333;
    color: white;
    padding: 40px 0;
}

.popular-posts h3 {
    margin-bottom: 20px;
}

.popular-posts ul {
    list-style: none;
    padding: 0;
}

.popular-posts li {
    margin-bottom: 10px;
}

.popular-posts a {
    color: white;
    text-decoration: none;
}

.popular-posts .social-icons {
    margin-top: 20px;
}

.popular-posts .social-icons a {
    margin-right: 10px;
}

.popular-posts .social-icons img {
    width: 30px;
    height: 30px;
}

.section-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #181f25; /* Fundo escuro */
    padding: 30px 40px;
    color: #ffffff; /* Texto branco para maior contraste */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.footer .logo-footer {
    height: 180px;
    margin-right: 40px;
}

.footer .container {
    flex: 1;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer .col-md-4 {
    flex: 1;
    max-width: 30%;
}

.footer h5 {
    font-size: 20px;
    font-weight:lighter;
    margin-bottom: 10px;
    color: #f1f1f1; /* Subtítulos mais claros */
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: #faf6f6; /* Links mais claros */
    font-size: 14px;
}

.footer a:hover {
    color: #ffffff; /* Branco ao passar o mouse */
}

.footer .linha-footer {
    width: 50px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}

.footer .text-muted {
    color: #fffdfd; /* Texto mais claro */
}

.footer .text-p {
    font-size: 20px;
    color: yellow;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    font-size: 18px;
    margin-right: 15px;
    color: #ffffff;
    width: 50px;
}

.copyright {
    text-align: center;
    padding: 15px 0;
    color: #6d6969;
    font-size: 13px;
}
.credit {
    color: #8a4fff; /* Cor roxa semelhante à da imagem */
    font-weight: bold;
}

.credit span {
    color: #c5a3ff; /* Tom levemente mais claro para destacar "HCODE in Udemy" */
}


.footer-bottom {
    text-align: left;
    background-color: black;
    color: white;
    
}

/*Celular em pé*/

@media (max-width: 414px) {
    .top-bar {
        display: none;
    }
    .navbar {
        padding: 12px 0;
    }

    .navbar-brand img {
        height: 50px;
        left: 10px;
        top: 10px;
    }

    .hero h1 {
        font-size: 28px;
        top: 45%;
    }

    .hero p {
        font-size: 16px;
        top: 50%;
        text-align: center;
    }
    .hero{
        flex-direction: column;
    }

    .search-bar {
        flex-direction:row;
        align-items: center;
        margin-left: 0;
    }

    .search-bar input {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    .search-bar button {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
    }

    .col-md-3, .col-md-4, .col-md-6 {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px;
    }

    .info-box h2 {
        font-size: 1.8em;
        text-align: center;
    }

    .additional-content button {
        padding: 10px 40px;
        font-size: 14px;
    }

    .footer {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }

    .footer .logo-footer {
        height: 80px;
        margin-bottom: 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .col-md-4 {
        max-width: 100%;
        text-align: center;
    }

    .footer .social-icons a {
        font-size: 16px;
        margin: 5px;
    }
}

 /*Celular deitado*/

@media (max-width: 736px) {
    .top-bar {
        display: none;
    }
    .navbar {
        padding: 12px 0;
    }

    .navbar-brand img {
        height: 50px;
        left: 10px;
        top: 10px;
    }

    .hero h1 {
        font-size: 28px;
        top: 45%;
    }

    .hero p {
        font-size: 16px;
        top: 50%;
        text-align: center;
    }
    .hero{
        flex-direction: column;
    }

    .search-bar {
        flex-direction:row;
        align-items: center;
    }

    .search-bar input {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    .search-bar button {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
    }

    .col-md-3, .col-md-4, .col-md-6 {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px;
    }

    .info-box h2 {
        font-size: 1.8em;
        text-align: center;
    }

    .additional-content button {
        padding: 10px 40px;
        font-size: 14px;
    }

    .footer {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }

    .footer .logo-footer {
        height: 80px;
        margin-bottom: 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .col-md-4 {
        max-width: 100%;
        text-align: center;
    }

    .footer .social-icons a {
        font-size: 16px;
        margin: 5px;
    }
}

/*Tablet em pé*/
@media (max-width: 786px) {
    .top-bar {
        display: none;
    }
    .navbar {
        padding: 12px 0;
    }

    .navbar-brand img {
        height: 50px;
        left: 10px;
        top: 10px;
    }

    .hero h1 {
        font-size: 28px;
        top: 45%;
    }

    .hero p {
        font-size: 16px;
        top: 50%;
        text-align: center;
    }
    .hero{
        flex-direction: column;
    }

    .search-bar {
        flex-direction:row;
        align-items: center;
    }

    .search-bar input {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    .search-bar button {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
    }

    .col-md-3, .col-md-4, .col-md-6 {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px;
    }

    .info-box h2 {
        font-size: 1.8em;
        text-align: center;
    }

    .additional-content button {
        padding: 10px 40px;
        font-size: 14px;
    }

    .footer {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }

    .footer .logo-footer {
        height: 80px;
        margin-bottom: 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .col-md-4 {
        max-width: 100%;
        text-align: center;
    }

    .footer .social-icons a {
        font-size: 16px;
        margin: 5px;
    }
}

/*Tablet em deitado*/
@media (max-width: 1024px) {
    .top-bar {
        display: none;
    }
    .navbar {
        padding: 12px 0;
    }

    .navbar-brand img {
        height: 50px;
        left: 10px;
        top: 10px;
    }

    .hero h1 {
        font-size: 28px;
        top: 45%;
    }

    .hero p {
        font-size: 16px;
        top: 50%;
        text-align: center;
    }
    .hero{
        flex-direction: column;
    }

    .search-bar {
        flex-direction:row;
        align-items: center;
    }

    .search-bar input {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    .search-bar button {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
    }

    .col-md-3, .col-md-4, .col-md-6 {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px;
    }

    .info-box h2 {
        font-size: 1.8em;
        text-align: center;
    }

    .additional-content button {
        padding: 10px 40px;
        font-size: 14px;
    }

    .footer {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }

    .footer .logo-footer {
        height: 80px;
        margin-bottom: 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .col-md-4 {
        max-width: 100%;
        text-align: center;
    }

    .footer .social-icons a {
        font-size: 16px;
        margin: 5px;
    }
}